# Preseed.cfg base from https://raw.githubusercontent.com/jfrazelle/dotfiles/master/bin/install.sh
# Boot from debian-testing-amd64-netinst.iso ( Debian GNU/Linux testing "Stretch" - Official Snapshot amd64 NETINST Binary-1 20160307-06:32 )
# Press escape at boot menu type auto url="http://yourwebserver/preseed.cfg" DEBCONF_DEBUG=5
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us
d-i netcfg/choose_interface select auto
d-i debconf/priority string critical
d-i netcfg/link_wait_timeout string 10
d-i netcfg/wireless_wep string
d-i mirror/country string manual
d-i mirror/http/hostname string http://buaya.klas.or.id
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string http://192.168.16.206:3142
d-i clock-setup/utc boolean true
d-i time/zone string Asia/Jakarta
d-i clock-setup/ntp boolean true
d-i partman-auto/method string regular
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true
d-i partman/choose_partition select finish
# Use all the available disk
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic
# Use btrfs to be able to take snapshot
d-i partman/default_filesystem string btrfs
d-i partman/confirm_write_new_label boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i base-installer/install-recommends boolean false
d-i apt-setup/non-free boolean true
d-i apt-setup/contrib boolean true
d-i apt-setup/services-select multiselect security, updates
d-i apt-setup/security_host string buaya.klas.or.id
d-i passwd/root-login boolean false
d-i passwd/root-password-crypted password !
# Please change your user information
d-i passwd/user-fullname string Tony Hariman
d-i passwd/username string thariman
# mkpasswd -m sha-512 securepassword
d-i passwd/user-password-crypted password $6$utWFYia6e87Ce3A$3t/06WG.kLNJLfLIh9IFlZIYa2ePXjWUdd/WBCm7mF1q6NUz9Cm1teD0cJ/Nwq1nX8OWNo2GESJAAqTn7mwxf/
d-i user-setup/encrypt-home boolean false
d-i user-setup/allow-password-weak boolean true
d-i passwd/user-default-groups string audio cdrom video admin
tasksel tasksel/first multiselect standard
d-i pkgsel/install-language-support boolean false
# xserver-xorg-video-intel for the dell xps13, xserver-xorg-video-vmware for vmware fusion/workstation
# broadcom-sta-dkms for dell with broadcom wifi
d-i pkgsel/include string openssh-server ntp sudo bzip2 git acpid tree htop python-pip python-dev python3-dev python3-pip software-properties-common build-essential apt-transport-https linux-source linux-headers-amd64 dkms broadcom-sta-dkms xorg xserver-xorg xserver-xorg-video-intel xserver-xorg-video-vmware i3 i3lock i3status slim feh scrot rxvt-unicode-256color
d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true
d-i grub-installer/bootdev  string default
d-i finish-install/reboot_in_progress note
d-i preseed/late_command string \
in-target add-apt-repository ppa:neovim-ppa/unstable -y; \
in-target apt-get update; \
in-target apt-get install -y neovim; \
in-target update-alternatives --install /usr/bin/vi vi /usr/bin/nvim 60; \
in-target update-alternatives --config vi --skip-auto; \
in-target update-alternatives --install /usr/bin/vim vim /usr/bin/nvim 60; \
in-target update-alternatives --config vim --skip-auto; \
in-target update-alternatives --install /usr/bin/editor editor /usr/bin/nvim 60; \
in-target update-alternatives --config editor --skip-auto; \
in-target wget -O /etc/default/keyboard https://raw.githubusercontent.com/thariman/xps13-9343-debian-ansible/master/files/keyboard; \
in-target wget -O /etc/default/console-setup https://raw.githubusercontent.com/thariman/xps13-9343-debian-ansible/master/files/console-setup; \
in-target wget -O /home/thariman/.Xresources https://raw.githubusercontent.com/thariman/xps13-9343-debian-ansible/master/files/.Xresources; \
in-target wget -O /home/thariman/.bashrc https://raw.githubusercontent.com/thariman/xps13-9343-debian-ansible/master/files/.bashrc; \
in-target pip install ansible; \
in-target mkdir -p /etc/ansible; \
in-target wget -O /etc/ansible/ansible.cfg https://raw.githubusercontent.com/thariman/xps13-9343-debian-ansible/master/files/ansible.cfg ;\
in-target wget -O /etc/ansible/hosts https://raw.githubusercontent.com/thariman/xps13-9343-debian-ansible/master/files/hosts; \
in-target mkdir -p /home/thariman/.config/i3; \
in-target wget -O /home/thariman/.config/i3/config https://raw.githubusercontent.com/thariman/xps13-9343-debian-ansible/master/files/config; \
in-target chown -R thariman:thariman /home/thariman/.config /home/thariman/.Xresources /home/thariman/.bashrc
